langchain
numpy
google-generativeai
pinecone-client
tiktoken
google-cloud-aiplatform
black
python-dotenv
google-api-python-client
google-auth-oauthlib
google-cloud-texttospeech
opencv-python
image
streamlit
google-cloud-speech